@page "/"

<PageTitle>Recipe Randomizer</PageTitle>

<h1>Let's get inspired!</h1>

<div class="user-register">
    <button class="user-register-button">Register User</button>
</div>
<div class="user-login">
    <button class="user-login-button">Log In</button>
</div>
